<template name="appFooter">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="h3">LAUNCH CONTROL</h4>
          <ul>
            <li><a href="{{urlCreateAd}}">Crear tu anuncio</a></li>
            <li><a href="https://medium.com/launch-control">Blog</a></li>
            <li><a href="{{urlMeetUs}}">Conócenos</a></li>
            <li><a href="{{urlTC}}">Términos y condiciones</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4 class="h3">Síguenos en:</h4>
          <a href="https://medium.com/launch-control" title="Blog" target="_blank"><i class="fa fa-medium fa-2x"></i></a>
          <a href="https://www.facebook.com/launchcontrol.es" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://twitter.com/_LaunchControl_" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </footer>
</template>
