<template name="appHeader">
  <header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <!--
      <h1 class="navbar-brand" href="#">Logo</h1>
      <nav>
        <ul>
            <li><a href="{{urlHome}}">Home</a></li>
            <li><a href="{{urlCars}}">Todos los coches</a></li>
            <li><a href="{{urlCreateAd}}">Crear tu anuncio</a></li>
        </ul>
      </nav>
      -->
      <!--
      <nav>
        <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{{urlCars}}" title="Ver coches de segunda mano" itemprop="item"><span itemprop="name">Coches de 2ª mano</span></a>
                <span> &gt; </span>
                <meta itemprop="position" content="1" />
            </li>
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
              <span itemprop="name">Todos los coches</span>
            </li>
        </ul>
      </nav>-->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="{{urlHome}}" id="link-homepage-logo">
          <img alt="Logo: {{siteName}}" src="img/logos/logo-horizontal.svg" id="logo-site" />
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{urlCars}}" id="link-cars">Ver coches</a></li>
          <li><a href="{{urlCreateAd}}" id="link-create-ad"><strong>Crear tu anuncio</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons align="right"}}
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  <a class="btn btn-default btn-block" href="{{urlMyAds}}">
    <span class="glyphicon glyphicon-pushpin fa-flip-horizontal" aria-hidden="true"></span>
    Mis anuncios
  </a>
</template>
