<template name="book">
  <!--
  <div id="book-cover">
    <div class="container">
      <header>
        <h1 class="h1">Libro-Manual: Fotografía y publica tu coche como un Profesional</h1>
        <span>Fotografiarás y a anunciarás públicamente tu coche como nunca habías pensado que lo harías. Desde un nivel básico hasta un nivel avanzado</span>
      </header>
    </div>
  </div>-->

  <main role="main" class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="text-center">
          <a href="http://libro.launchcontrol.es">
            <img id="book-cover" src="/img/book/render.png" alt="Leer libro gratis" title="Leer libro gratis" />
          </a>
        </div>
      </div>
      <div class="col-sm-8">
        <header>
          <h1 class="h1">Libro-Manual: Fotografía y publica tu coche como un Profesional</h1>
          <p class="h4"><em>Fotografiarás y a anunciarás públicamente tu coche como nunca habías pensado que lo harías. Desde un nivel básico hasta un nivel avanzado.</em></p>
        </header>
        <div id="book-preamble" class="clearfix">
          <p>En este manual te enseñaré cómo transformar esas fotos rancias, en fotos que dejarán a la gente con la boca abierta.</p>
          <p>También te contaré los mejores secretos de fotógrafos del mundo de la automoción y que darán a tus fotos un <em>look</em> profesional.</p>
          <p>Esta libro-manual te gustará sí...</p>
          <ul id="create-ad-advantages">
            <li>
              <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
              Quieres poner en venta tu coche
            </li>
            <li>
              <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
              Quieres tener un recuerdo bonito de tu coche
            </li>
            <li>
              <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
              Te interesa la fotografía
            </li>
            <li>
              <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
              Eres una mente inquieta
            </li>
          </ul>
        </div>
        <div class="clearfix">
          <div class="text-center">
            <a class="btn btn-danger call-action" href="http://libro.launchcontrol.es">Leer libro gratis</a>
          </div>
        </div>
      </div>
    </div>
    <div id="book-gratitude" class="row container">
      <i>Agradecimientos a Troy Barker por la foto de portada. <a href="https://www.facebook.com/TroyJamesBarkerPhoto/">Facebook Troy Barker Photo</a></i>
    </div>
  </main>
</template>
