<template name="carDetails">
  {{#with car}}
  <article itemscope itemtype="https://schema.org/Car" class="car-details-short">
    <img src="{{images.[0].url store='thumbs'}}" alt="{{make}} {{title}}" />
    <header>
      <h1 itemprop="name" class="h2">
        <a href="{{urlCarDetails}}" title="Ver anuncio {{make}} {{title}}">{{make}} {{title}}</a>
      </h1>
    </header>
    <p>Precio: <span itemprop="">{{price}} €</span></p>
    <p>Potencia: <span itemprop="">{{horsepower}}</span> cv</p>
    <p>Combustible: <span itemprop="fuelType">{{fuel}}</span></p>
    <p>Transmisión: <span itemprop="">{{transmission}}</span></p>
    <p>Año: <span itemprop="dateVehicleFirstRegistered">{{year}}</span></p>
    <p>Kilómetros: <span itemprop="mileageFromOdometer">{{kilometers}}</span></p>
    <p>Color: <span itemprop="">{{color}}</span></p>
    <p>Tipo de carrocería: <span itemprop="">{{body}}</span></p>
    <p>Puertas: <span itemprop="">{{doors}}</span></p>
    <p>Localización: <span itemprop="">{{district.district}} ({{district.region}})</span></p>

    <ul>
      {{#each images}}
        <a href="{{url store="images"}}" title="Ver foto #{{@index}} de {{make}} {{title}}" target="_blank">
          <img src="{{url store="thumbs"}}" alt="{{make}} {{title}} ({{@index}})" />
        </a>
      {{/each}}
    </ul>
  </article>
  {{/with}}
</template>
