<template name="carDetails">
  <main role="main" class="container">
    {{#if isSuccessfulEditAd}}
      <div class="alert alert-success">
        <p>
          Anuncio editado correctamente.
        </p>
      </div>
    {{/if}}
    {{#with car}}
    <article itemscope itemtype="https://schema.org/Car" class="car-details-short">
      {{>picsPhotoSwipe car=car}}
      <div id="car-details-spec" class="clearfix">
        <div class="col-md-8">
          <header>
            <h1 itemprop="name" class="h2 car-details-title">
              {{#if active}}
                {{#unless published}}
                  <span class="btn-warning btn">Anuncio esperando aprobación</span>
                {{/unless}}
              {{else}}
                {{#if published}}
                  <span class="btn-danger btn">Este anuncio ha terminado</span>
                {{else}}
                  <span class="btn-danger btn">Anuncio no aprobado</span>
                {{/if}}
              {{/if}}
              <strong>{{make}}</strong> {{title}}
            </h1>
          </header>
          <p><span class="property-title">Localización:</span> {{district.district}} ({{district.region}})</p>
          {{#if color}}
            <p><span class="property-title">Color:</span> <span itemprop="color">{{color}}</span></p>
          {{/if}}
          {{#if wheelDrive}}
            <p><span class="property-title">Tracción:</span> <span itemprop="driveWheelConfiguration">{{wheelDrive}}</span></p>
          {{/if}}
          {{#if owners}}
            <p><span class="property-title">Número de propietarios:</span> <span itemprop="numberOfPreviousOwners">{{owners}}</span></p>
          {{/if}}
          <hr />
          <p><span class="property-title">Descripción:</span></p>
          <p>{{#markdown}}{{description}}{{/markdown}}</p>
          {{#if maintenance}}
            <p><span class="property-title">Mantenimiento:</span></p>
            <p><span>{{#markdown}}{{maintenance}}{{/markdown}}</span></p>
          {{/if}}
          {{#if warranty}}
            <p><span class="property-title">Garantía:</span></p>
            <p><span>{{#markdown}}{{warranty}}{{/markdown}}</span></p>
          {{/if}}
        </div>
        <div class="col-md-4">
          <div id="car-details-data">
            <table class="table car-details">
              <tr>
                <td>Precio</td>
                <td class="text-right"><b>{{price}} €</b></td>
              </tr>
              <tr>
                <td>Potencia</td>
                <td class="text-right"><b>{{horsepower}} cv</b></td>
              </tr>
              <tr>
                <td>Combustible</td>
                <td class="text-right"><b><span itemprop="fuelType">{{fuel}}</span></b></td>
              </tr>
              <tr>
                <td>Transmisión</td>
                <td class="text-right"><b><span itemprop="vehicleTransmission">{{transmission}}</span></b></td>
              </tr>
              <tr>
                <td>Año</td>
                <td class="text-right"><b><span itemprop="dateVehicleFirstRegistered">{{year}}</span></b></td>
              </tr>
              <tr>
                <td>Kilómetros</td>
                <td class="text-right"><b>{{kilometers}}</b></td>
              </tr>
              {{#if body}}
              <tr>
                <td>Tipo de carrocería</td>
                <td class="text-right"><b>{{body}}</b></td>
              </tr>
              {{/if}}
              {{#if doors}}
              <tr>
                <td>Número de puertas</td>
                <td class="text-right"><b><span itemprop="numberOfDoors">{{doors}}</span></b></td>
              </tr>
              {{/if}}
            </table>

            {{#if active}}
              {{#if published}}
                {{#unless showContactOwnerForm}}
                <p>
                  <a id="contact-owner" class="btn btn-danger scroll">Contactar con vendedor</a>
                </p>
                {{/unless}}
                {{#if showContactOwnerForm}}
                  {{>contactOwnerForm carId=_id}}
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </article>
    {{/with}}
  </main>
</template>

<template name="picsPhotoSwipe">
  {{> pswp}}
  {{#with car}}
  <div id="car-details-images" class="row" itemtype="http://schema.org/ImageGallery">
    <div class="col-lg-6 col-md-8">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="photo-main">
        <img class="photoswipe" src="{{images.[0].url store="images"}}" data-src="{{images.[0].url store="images"}}" data-width="{{images.[0].metadata.width}}" data-height="{{images.[0].metadata.height}}" itemprop="thumbnail" alt="Foto de {{make}} {{title}}" />
      </figure>
    </div>
    <div class="col-lg-6 col-md-4">
      <div class="row">
        {{#if images.[1]}}
        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-6">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="photo-detail">
            <div class="photoswipe" style="background-image: url({{images.[1].url store="thumbs-retina"}})" data-srcthumb="{{images.[1].url store="thumbs-retina"}}" data-src="{{images.[1].url store="images"}}" data-width="{{images.[1].metadata.width}}" data-height="{{images.[1].metadata.height}}" itemprop="thumbnail" alt="Foto de {{make}} {{title}}"></div>
          </figure>
        </div>
        {{/if}}
        {{#if images.[2]}}
        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-6">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="photo-detail">
            <div class="photoswipe" style="background-image: url({{images.[2].url store="thumbs-retina"}})" data-srcthumb="{{images.[2].url store="thumbs-retina"}}" data-src="{{images.[2].url store="images"}}" data-width="{{images.[2].metadata.width}}" data-height="{{images.[2].metadata.height}}" itemprop="thumbnail" alt="Foto de {{make}} {{title}}"></div>
          </figure>
        </div>
        {{/if}}
        {{#if images.[3]}}
        <div class="col-lg-6 col-md-12 col-sm-6 hidden-md hidden-xs">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="photo-detail">
            <div class="photoswipe" style="background-image: url({{images.[3].url store="thumbs-retina"}})" data-srcthumb="{{images.[3].url store="thumbs-retina"}}" data-src="{{images.[3].url store="images"}}" data-width="{{images.[3].metadata.width}}" data-height="{{images.[3].metadata.height}}" itemprop="thumbnail" alt="Foto de {{make}} {{title}}"></div>
          </figure>
        </div>
        {{/if}}
        {{#if images.[4]}}
        <div class="col-lg-6 col-md-12 col-sm-6 hidden-md hidden-xs">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="photo-detail">
            <div class="photoswipe" style="background-image: url({{images.[4].url store="thumbs-retina"}})" data-srcthumb="{{images.[4].url store="thumbs-retina"}}" data-src="{{images.[4].url store="images"}}" data-width="{{images.[4].metadata.width}}" data-height="{{images.[4].metadata.height}}" itemprop="thumbnail" alt="Foto de {{make}} {{title}}"></div>
          </figure>
        </div>
        {{/if}}
      </div>
    </div>
    {{#each getHiddenImages images 4}}
      {{#if url}}
      <figure class="hidden" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <img class="photoswipe" src="{{url store="thumbs-retina"}}" data-src="{{url store="images"}}" data-width="{{metadata.width}}" data-height="{{metadata.height}}" itemprop="thumbnail" alt="Foto de {{make}} {{title}}" />
      </figure>
      {{/if}}
    {{/each}}
  </div>
  {{/with}}
</template>

<template name="contactOwnerForm">
  <fieldset>
    <legend>Contacta con el anunciante</legend>
    {{#if isSuccessfulContactOwner}}
      <span id="success-contact-owner-form"><strong>Tu mensaje al vendedor ha sido enviado.</strong> Muchas gracias.</span>
    {{else}}
      {{#autoForm schema=contactOwnerFormSchema id="contactOwnerForm" type="method" meteormethod="sendOwnerEmail"}}
      {{> afQuickField id="form-carId" name="carId" value=carId type="hidden"}}
      {{> afQuickField id="form-name" name="name" label="Nombre"}}
      {{> afQuickField id="form-email" name="email" label="Email"}}
      {{> afQuickField id="form-message" name="message" label="Mensaje" rows=10}}
      <div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
      {{/autoForm}}
    {{/if}}
  </fieldset>
</template>
