<template name="cars">
  <main role="main" class="container">
    <section>
      <header>
        <i class="fa fa-automobile title-icon-fa"></i>
        <h1 class="title-with-icon">Coches en venta de segunda mano</h1>
      </header>
      <div id="all-cars">
        {{#each cars}}
          {{> car}}
        {{/each}}
      </div>
    </section>
  </main>
</template>

<template name="car">
  <a class="card-car-ad" href="{{urlCarDetails}}" title="Ver más información del modelo">
    <article itemscope itemtype="https://schema.org/Car" class="car-details-short">
      <div style="background-image: url({{image.url store="thumbs-retina"}})" class="card-car-ad-img hidden-xs"></div>
      <div style="background-image: url({{image.url store="thumbs"}})" class="card-car-ad-img visible-xs"></div>
      <header>
        <span itemprop="name" class="card-car-ad-name">{{make}} {{title}}</span>
      </header>
      <span itemprop="dateVehicleFirstRegistered">Año {{year}}</span>
      <span itemprop="mileageFromOdometer">{{kilometers}} km</span>
    </article>
  </a>
</template>
