<template name="meetUs">
  <div id="meetus-cover">
    <div class="container">
      <header>
        <h1>Conócenos</h1>
        <h2 class="h3">Locos de las ruedas, o así nos llaman</h2>
      </header>
    </div>
  </div>

  <main role="main" class="container">
    <section id="meet-us">
      <div class="row">
        <div class="col-md-6">
          <p>Launch Control surgió en enero del 2016 con la idea de dar una respuesta al problema que mucha gente encuentra con los anuncios de coches encontrados en internet y que hace descartarlos casi en su totalidad: poca transparencia, anuncios incompletos o mal redactados, coches en muy mal estado o páginas de anuncios de diseño absolutamente desfasado para los tiempos actuales.</p>
          <p>Otra función queríamos cubrir al lanzar Launch Control, y sería recuperar la cercanía con los propietarios, hacer el proceso de venta algo más satisfactorio y humano, y no un mero intercambio de bienes de un individuo a otro. Pensamos que detrás de cada coche hay una historia y experiencia que contar.</p>
        </div>
        <div class="col-md-6 text-center">
          <img src="/img/meet-us/icon-big.png" alt="Icono de Launch Control" />
        </div>
      </div>
    </section>
    <hr />
    <section id="founders">
      <div class="row">
        <div class="col-md-3">
          <img src="/img/meet-us/employee-rafa.jpg" alt="Rafael Muñoz" class="meet-us img-circle" />
        </div>
        <div class="col-md-6">
          <span class="h3 meet-us-name">Rafael Muñoz</span>
          <p>Desde pequeño me encantaban los coches. Me pasaba los viajes mirando coches en los viajes, aprendiéndome modelos y motores. Ya en la universidad tuve la primera oportunidad de conducir mi primer coche... ¡Y vaya primer coche! Un precioso BMW 325i E36 granate que fue compañero de muchas aventuras junto a mis amigos y mi skate.</p>
          <p>Tras pasar por República Checa, disfruto ahora mismo la suerte de vivir y trabajar en Alemania, uno de los países del mundo con mayor tradición automovilística y el cual me ha dado el punto de vista y la inspiración para iniciar esta etapa con mucha ilusión.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/img/meet-us/employee-carlos.jpg" alt="Carlos Castro" class="meet-us img-circle" />
        </div>
        <div class="col-md-6">
          <span class="h3 meet-us-name">Carlos Manuel de Castro</span>
          <p>Todo el que me conoce sabría decir cual es mi mayor pasión: Los coches. Con ellos crecí, jugando con miles de cochecitos de todo tipo, con el scalextric, los primeros videojuegos de coches o subiéndome en el Alfa 33 de mi padre e imaginando que conducía... hasta que por fin pude conducir.</p><p>Ahora tengo la suerte de poder dedicar una parte de mi vida a los coches, de trabajar en lo que más me gusta, compartir experiencias, conocimientos y emociones con gente con la que comparto el mismo interés.</p>
        </div>
      </div>
    </section>
  </main>
</template>
