<template name="myAds">
  <main role="main" class="container">
    <section>
      <header>
        <span class="glyphicon glyphicon-pushpin title-icon fa-flip-horizontal" aria-hidden="true"></span>
        <h1 class="title-with-icon">Mis anuncios</h1>
      </header>
      <div class="container">
        {{#if loading}}
          <i class="fa fa-refresh fa-spin"></i>
        {{else}}
          {{#if ads}}
            <div class="bs-callout bs-callout-warning">
              <p>
                Ya que nos encontramos en versión Beta, todavía no es posible editar anuncios. Si quieres corregir alguna errata o cambiar cualquier valor, envíanos un email a <strong>contact@launchcontrol.es</strong> indicándonos la URL de tu anuncio y qué deseas cambiar.
              </p>
            </div>
            {{#each ads}}
              {{> adDetails}}
            {{/each}}
          {{else}}
            <p>No tienes todavía ningún anuncio creado.</p>
          {{/if}}
        {{/if}}
      </div>
    </section>
  </main>
</template>

<template name="adDetails">
  <div class="row my-ads-car">
    <div class="col-lg-2 text-right">
      {{#if active}}
        {{#if published}}
          <span class="btn-success btn-xs">Activo</span>
        {{else}}
          <span class="btn-warning btn-xs">Esperando aprobación</span>
        {{/if}}
      {{else}}
        {{#if published}}
          <span class="btn-primary btn-xs">Cerrado</span>
        {{else}}
          <span class="btn-danger btn-xs">No aprobado</span>
        {{/if}}
      {{/if}}
    </div>
    <div class="col-lg-6">
      <a href="{{urlCarDetails}}" title="Ver más información del modelo">{{make}} {{title}}</a>
    </div>
    <div class="col-lg-4 text-right">
      {{#if active}}
      <a href="#" class="close-ad" data-close-id="{{_id}}" data-close-name="{{make}} {{title}}" title="Cerrar anuncio">
        <span style="color: black;" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {{/if}}
    </div>
  </div>
</template>

<template name="closeConfirmation">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">¿Deseas cerrar el anuncio <i>{{name}}</i>?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary confirm-close-ad" data-dismiss="modal" data-close-id="{{id}}">Cerrar anuncio</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>