<template name="preCreateAd">
  <div id="pre-create-ad-cover">
    <div class="container">
      <header>
        <h1>Anuncie su coche con nosotros</h1>
        <span>A diferencia del resto de portales, nosotros podemos presumir por nuestro número reducido de anuncios de alta calidad y que consiguen resultados.</span>
      </header>
    </div>
  </div>

  <main role="main" id="pre-create-ad-advantages" class="container">
    <div class="clearfix">
      <span class="h3">Conozca las ventajas de anunciar su coche en Launch Control:</span>
      <ul id="create-ad-advantages">
        <li>
          <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
          Totalmente gratuito
        </li>
        <li>
          <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
          Anuncios enfocados directamente al público objetivo de su coche
        </li>
        <li>
          <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
          Presentación de su coche en una página espectacular para compartir externamente
        </li>
        <li>
          <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
          Servicio postventa ajustado a sus necesidades: tasación de coche y gestión de la compraventa
        </li>
        <li>
          <span class="glyphicon glyphicon-ok li-icon-fa" aria-hidden="true"></span>
          Promoción extra gratuita en redes sociales
        </li>
      </ul>
    </div>
    <div class="clearfix">
      <div class="text-center">
        <a id="link-create-ad" class="btn btn-danger" href="{{urlCreateAd}}">Crear mi anuncio ya</a>
      </div>
    </div>
  </main>
</template>
