@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,300italic);

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
}
#logo-site {
  width: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

/**
 * Cars list
 */
.card-car-ad {
  border: 1px solid #eee;
  border-radius: 6px;
  display: block;
  float: left;
  margin: 0 10px 20px 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 22%;
}

a.card-car-ad:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .card-car-ad {
    margin: 5px;
    width: 48%;
  }
}

@media (max-width:640px) {
  .card-car-ad {
    width: 100%;
  }
}

.card-car-ad-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 135px;
  max-width: 100%;
}

.card-car-ad span {
  display: block;
}

span.card-car-ad-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
  -o-text-overflow: ellipsis; /** Opera 9 & 10 **/
  white-space: nowrap;
  width: 100%; /* note that this width will have to be smaller to see the effect */
}

/**
 * Car details
 */
#car-details-images {
  padding: 20px 0 20px 0;
}
#car-details-images a {
  text-decoration: none;
}
  #car-details-images li {
    display: inline;
    padding: 0 5px 0 5px;
  }
#car-details-data {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 15px;
}
table.car-details tr {
  border-bottom: 1px solid #e3e3e3;
}
table.car-details td {
  padding: 10px 0 10px 0;
}

/**
 * Create ad
 */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.imageArea {
  margin-bottom: 70px;
}
.imageArea .media {
  margin-top: 0;
  margin-right: 10px;
  width: 300px;
  max-width: 300px;
}

.media:first-of-type {
  border: 2px solid red;
}

.title-icon {
  font-size: 25px;
  padding-right: 10px;
}
.title-with-icon {
  display: inline-block;
}

/**
 * My Ads
 */
.my-ads-car {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0 10px 0;
}